body {
    font-family: Arial, sans-serif;
    /*color: #62970b;*/

    background-image: url('img/Evolution-of-Coding-scaled.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Makes the image stay fixed even when scrolling */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

.card img {
    height: 200px; /* Define uma altura fixa para as imagens dos cards */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
}

/* Estilo para o botão "Ver mais" */
.btn-primary {
    background-color: #0d6efd; /* Cor azul do Bootstrap */
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7; /* Cor azul mais escura no hover */
    border-color: #0b5ed7;
}

/* Seção de contato com fundo cinza claro */
#contato {
    background-color: #f8f9fa; 
}

/* Rodapé */
footer {
    background-color: #212529; /* Cor de fundo escura */
    color: white;
}


.bloco-apresentacao {
    background: linear-gradient(to bottom, #e78a7a, #f5dd71);
    border-radius: 50px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.10);
    padding: 40px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0.95;
}

.bloco-apresentacao2 {
    background-color: #f5dd71c2;
    border-radius: 50px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.10);
    padding: 40px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0.95;
    width: 80%;
}

.mk_pecego-amarelo {
    background: linear-gradient(to bottom, #e78a7a, #f5dd71);
    opacity: 0.95;
}

.mk_top_bot {
    background-color: darkseagreen;
}

.card-img-top:hover{
    scale: 1.3;
}